{
    "openapi": "3.0.1",
    "info": {
        "title": "SWEA API",
        "description": "SWEA API for interest rates and exchange rates<p><span>See our [FAQ](https://www.riksbank.se/sv/statistik/rantor-och-valutakurser/hamta-rantor-och-valutakurser-via-api/fragor-och-svar-om-apiet-for-rantor-och-valutakurser/) for more information of how to use the API.</span></p><h3>Disclaimer</h3><span>The exchange rates are indicative only and are published by the Riksbank for information purposes. They should therefore not be used for transactional purposes.<span><h3>Reservation</h3><span>The Riksbank disclaims liability for any errors or changes in values afterwards and for any interruptions in the functioning of the website and the API:s that may affect access to the statistics.<span><br><span>The Riksbank reserves the right to make updates/changes to the website and the API:s that may affect the downloading of statistics.<span><br><span>More information on the Riksbank's [website](https://www.riksbank.se/en-gb/statistics/interest-rates-and-exchange-rates/retrieving-interest-rates-and-exchange-rates-via-api).<span><br>",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.riksbank.se/swea/v1"
        }
    ],
    "paths": {
        "/CalendarDays/{from}": {
            "get": {
                "tags": [
                    "CalendarDays"
                ],
                "summary": "CalendarDays",
                "description": "Swedish banking day(s) starting with {from} ending with today.",
                "operationId": "get-calendardays-from",
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalendarDay"
                                    }
                                },
                                "example": [
                                    {
                                        "calendarDate": "string",
                                        "swedishBankday": true,
                                        "weekYear": 0,
                                        "weekNumber": 0,
                                        "quarterNumber": 0,
                                        "ultimo": true
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/CalendarDays/{from}/{to}": {
            "get": {
                "tags": [
                    "CalendarDays"
                ],
                "summary": "CalendarDays (interval)",
                "description": "Swedish banking day(s) starting with {from} ending with {to}. \nResults for future dates will be limited to todays date + 365 days.",
                "operationId": "get-calendardays-from-to",
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalendarDay"
                                    }
                                },
                                "example": [
                                    {
                                        "calendarDate": "string",
                                        "swedishBankday": true,
                                        "weekYear": 0,
                                        "weekNumber": 0,
                                        "quarterNumber": 0,
                                        "ultimo": true
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/CrossRateAggregates/{seriesId1}/{seriesId2}/{aggregation}/{from}": {
            "get": {
                "tags": [
                    "CrossRates"
                ],
                "summary": "CrossRateAggregates",
                "description": "Exchange rate calculated against the Swedish krona (SEK), with the result shown as the rate between two foreign currencies.",
                "operationId": "get-crossrateaggregates-seriesid1-seriesid2-aggregation-from",
                "parameters": [
                    {
                        "name": "seriesId1",
                        "in": "path",
                        "description": "The identifier for the origin series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "seriesId2",
                        "in": "path",
                        "description": "The identifier for the target series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "aggregation",
                        "in": "path",
                        "description": "The type of aggregation that will be applied to the result. Available aggregates W(eekly), M(onthly), Q(uarterly), Y(early).",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/CrossRateAggregation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CrossRateAggregate"
                                    }
                                },
                                "example": [
                                    {
                                        "year": 0,
                                        "seqNr": 0,
                                        "value": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/CrossRateAggregates/{seriesId1}/{seriesId2}/{aggregation}/{from}/{to}": {
            "get": {
                "tags": [
                    "CrossRates"
                ],
                "summary": "CrossRateAggregates (interval)",
                "description": "Exchange rate calculated against the Swedish krona (SEK), with the result shown as the rate between two foreign currencies.",
                "operationId": "get-crossrateaggregates-seriesid1-seriesid2-aggregation-from-to",
                "parameters": [
                    {
                        "name": "seriesId1",
                        "in": "path",
                        "description": "The identifier for the origin series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "seriesId2",
                        "in": "path",
                        "description": "The identifier for the target series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "aggregation",
                        "in": "path",
                        "description": "The type of aggregation that will be applied to the result. Available aggregates W(eekly), M(onthly), Q(uarterly), Y(early).",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/CrossRateAggregation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CrossRateAggregate"
                                    }
                                },
                                "example": [
                                    {
                                        "year": 0,
                                        "seqNr": 0,
                                        "value": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/CrossRates/{seriesId1}/{seriesId2}/{from}": {
            "get": {
                "tags": [
                    "CrossRates"
                ],
                "summary": "CrossRates",
                "description": "Exchange rates calculated against the Swedish krona (SEK), with the result shown as the rate between two foreign currencies.",
                "operationId": "get-crossrates-seriesid1-seriesid2-from",
                "parameters": [
                    {
                        "name": "seriesId1",
                        "in": "path",
                        "description": "The identifier for the origin series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "seriesId2",
                        "in": "path",
                        "description": "The identifier for the target series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CrossRate"
                                    }
                                },
                                "example": [
                                    {
                                        "date": "string",
                                        "value": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/CrossRates/{seriesId1}/{seriesId2}/{from}/{to}": {
            "get": {
                "tags": [
                    "CrossRates"
                ],
                "summary": "CrossRates (interval)",
                "description": "Exchange rates calculated against the Swedish krona (SEK), with the result shown as the rate between two foreign currencies.",
                "operationId": "get-crossrates-seriesid1-seriesid2-from-to",
                "parameters": [
                    {
                        "name": "seriesId1",
                        "in": "path",
                        "description": "The identifier for the origin series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "seriesId2",
                        "in": "path",
                        "description": "The identifier for the target series of the cross rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CrossRate"
                                    }
                                },
                                "example": [
                                    {
                                        "date": "string",
                                        "value": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Groups": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Groups",
                "description": "Logical groupings of related series.",
                "operationId": "get-groups",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "ISO 639-1 language code.",
                        "schema": {
                            "$ref": "#/components/schemas/Language"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupHierarchy"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Groups/{groupId}": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Groups (by groupId)",
                "description": "List the groups that is associated with the {groupId}.",
                "operationId": "get-groups-groupid",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The group identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "ISO 639-1 language code.",
                        "schema": {
                            "$ref": "#/components/schemas/Language"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupHierarchy"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/ObservationAggregates/{seriesId}/{aggregation}/{from}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "ObservationAggregates",
                "description": "ObservationAggregates with a period starting with {from} and ending today",
                "operationId": "get-observationaggregates-seriesid-aggregation-from",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "description": "The series identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "aggregation",
                        "in": "path",
                        "description": "The type of aggregation that will be applied to the result. Available aggregates W(eekly), M(onthly), Q(uarterly), Y(early).",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ObservationAggregation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObservationAggregate"
                                    }
                                },
                                "example": [
                                    {
                                        "year": 0,
                                        "seqNr": 0,
                                        "from": "string",
                                        "to": "string",
                                        "average": 0,
                                        "min": 0,
                                        "max": 0,
                                        "ultimo": 0,
                                        "observationCount": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/ObservationAggregates/{seriesId}/{aggregation}/{from}/{to}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "ObservationAggregates (interval)",
                "description": "Gets the aggregates.",
                "operationId": "get-observationaggregates-seriesid-aggregation-from-to",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "description": "The series identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "aggregation",
                        "in": "path",
                        "description": "The type of aggregation that will be applied to the result. Available aggregates W(eekly), M(onthly), Q(uarterly), Y(early).",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ObservationAggregation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObservationAggregate"
                                    }
                                },
                                "example": [
                                    {
                                        "year": 0,
                                        "seqNr": 0,
                                        "from": "string",
                                        "to": "string",
                                        "average": 0,
                                        "min": 0,
                                        "max": 0,
                                        "ultimo": 0,
                                        "observationCount": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/ObservationAggregates/ByGroup/{groupId}/{aggregation}/{from}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "ObservationAggregates per groupId",
                "description": "Gets ObservationAggregates for a {groupid} with a period starting with {from} and ending today. Data is only returned for a maximum of 1 year unless aggregates Y or Q is used.",
                "operationId": "get-observationaggregates-bygroup-groupid-aggregation-from",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The group identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "aggregation",
                        "in": "path",
                        "description": "The type of aggregation that will be applied to the result. Available aggregates W(eekly), M(onthly), Q(uarterly), Y(early).",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ObservationAggregation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObservationAggregate"
                                    }
                                },
                                "example": [
                                    {
                                        "year": 0,
                                        "seqNr": 0,
                                        "from": "string",
                                        "to": "string",
                                        "average": 0,
                                        "min": 0,
                                        "max": 0,
                                        "ultimo": 0,
                                        "observationCount": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/ObservationAggregates/ByGroup/{groupId}/{aggregation}/{from}/{to}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "ObservationAggregates per groupid (interval)",
                "description": "Gets the aggregates by groupId. Data is only returned for a maximum of 1 year unless aggregates Y or Q is used.",
                "operationId": "get-observationaggregates-bygroup-groupid-aggregation-from-to",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The group identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "aggregation",
                        "in": "path",
                        "description": "The type of aggregation that will be applied to the result. Available aggregates W(eekly), M(onthly), Q(uarterly), Y(early).",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ObservationAggregation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObservationAggregateExtended"
                                    }
                                },
                                "example": [
                                    {
                                        "year": 0,
                                        "seqNr": 0,
                                        "from": "string",
                                        "to": "string",
                                        "average": 0,
                                        "min": 0,
                                        "max": 0,
                                        "ultimo": 0,
                                        "observationCount": 0,
                                        "seriesId": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Observations/{seriesId}/{from}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "Observations",
                "description": "Gets observations for a {series} with a period starting with {from} and ending with today.",
                "operationId": "get-observations-seriesid-from",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "description": "The series identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Observation"
                                    }
                                },
                                "example": [
                                    {
                                        "date": "string",
                                        "value": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Observations/{seriesId}/{from}/{to}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "Observations (interval)",
                "description": "Gets observations for a {series} with a period starting with {from} and ending with {to}.",
                "operationId": "get-observations-seriesid-from-to",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "description": "The series identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Observation"
                                    }
                                },
                                "example": [
                                    {
                                        "date": "string",
                                        "value": 0
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Observations/ByGroup/{groupId}/{from}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "Observations per groupId",
                "description": "Gets observations for a {groupid} with a period starting with {from} and ending with today. Data is only returned for a maximum of 1 year. Only five calls per minute are allowed.",
                "operationId": "get-observations-bygroup-groupid-from",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The group identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObservationExtended"
                                    }
                                },
                                "example": [
                                    {
                                        "date": "string",
                                        "value": 0,
                                        "seriesId": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Observations/ByGroup/{groupId}/{from}/{to}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "Observations per groupId (interval)",
                "description": "Gets observations for a {groupid} with a period starting with {from} and ending with {to}. Data is only returned for a maximum of 1 year. Only five calls per minute are allowed.",
                "operationId": "get-observations-bygroup-groupid-from-to",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The group identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "from",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "ISO 8601 date (YYYY-MM-DD).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObservationExtended"
                                    }
                                },
                                "example": [
                                    {
                                        "date": "string",
                                        "value": 0,
                                        "seriesId": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Observations/Latest/{seriesId}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "Observations (latest)",
                "description": "Gets the latest observation for the {seriesId}.",
                "operationId": "get-observations-latest-seriesid",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "description": "The series identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Observation"
                                },
                                "example": {
                                    "date": "string",
                                    "value": 0
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Observations/Latest/ByGroup/{groupId}": {
            "get": {
                "tags": [
                    "Observations"
                ],
                "summary": "Observations per groupid (latest)",
                "description": "Gets the latest observation for all series for the provided {groupId}.",
                "operationId": "get-observations-latest-bygroup-groupid",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The group identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObservationExtended"
                                    }
                                },
                                "example": [
                                    {
                                        "date": "string",
                                        "value": 0,
                                        "seriesId": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Series": {
            "get": {
                "tags": [
                    "Series"
                ],
                "summary": "Series",
                "description": "All series.",
                "operationId": "get-series",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "ISO 639-1 language code.",
                        "schema": {
                            "$ref": "#/components/schemas/Language"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Series"
                                    }
                                },
                                "example": [
                                    {
                                        "seriesId": "string",
                                        "source": "string",
                                        "shortDescription": "string",
                                        "midDescription": "string",
                                        "longDescription": "string",
                                        "groupId": 0,
                                        "observationMaxDate": "string",
                                        "observationMinDate": "string",
                                        "seriesClosed": true
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Series/{seriesId}": {
            "get": {
                "tags": [
                    "Series"
                ],
                "summary": "Series (by seriesId)",
                "description": "Get information about the series with the specified {seriesId}.",
                "operationId": "get-series-seriesid",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "description": "The series identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "ISO 639-1 language code.",
                        "schema": {
                            "$ref": "#/components/schemas/Language"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Series"
                                },
                                "example": {
                                    "seriesId": "string",
                                    "source": "string",
                                    "shortDescription": "string",
                                    "midDescription": "string",
                                    "longDescription": "string",
                                    "groupId": 0,
                                    "observationMaxDate": "string",
                                    "observationMinDate": "string",
                                    "seriesClosed": true
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Series/ByGroup/{groupId}": {
            "get": {
                "tags": [
                    "Series"
                ],
                "summary": "Series (by groupId)",
                "description": "Get information about the series within the specified {groupId}.",
                "operationId": "get-series-bygroup-groupid",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The group identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "ISO 639-1 language code.",
                        "schema": {
                            "$ref": "#/components/schemas/Language"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Series"
                                    }
                                },
                                "example": [
                                    {
                                        "seriesId": "string",
                                        "source": "string",
                                        "shortDescription": "string",
                                        "midDescription": "string",
                                        "longDescription": "string",
                                        "groupId": 0,
                                        "observationMaxDate": "string",
                                        "observationMinDate": "string",
                                        "seriesClosed": true
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/Series/ExchangeRateSeries": {
            "get": {
                "tags": [
                    "Series"
                ],
                "summary": "ExchangeRateSeries",
                "description": "Exchange rate series.",
                "operationId": "get-series-exchangerateseries",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "ISO 639-1 language code.",
                        "schema": {
                            "$ref": "#/components/schemas/Language"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Series"
                                    }
                                },
                                "example": [
                                    {
                                        "seriesId": "string",
                                        "source": "string",
                                        "shortDescription": "string",
                                        "midDescription": "string",
                                        "longDescription": "string",
                                        "groupId": 0,
                                        "observationMaxDate": "string",
                                        "observationMinDate": "string",
                                        "seriesClosed": true
                                    }
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CalendarDay": {
                "required": [
                    "calendarDate",
                    "quarterNumber",
                    "swedishBankday",
                    "ultimo",
                    "weekNumber",
                    "weekYear"
                ],
                "type": "object",
                "properties": {
                    "calendarDate": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The date of the day in ISO 8601 format YYYY-MM-DD.",
                        "example": "string"
                    },
                    "swedishBankday": {
                        "type": "boolean",
                        "description": "Is true if the Calendar Date is a Swedish bank day.",
                        "example": true
                    },
                    "weekYear": {
                        "type": "integer",
                        "description": "The year the WeekNumber belongs to.",
                        "format": "int32",
                        "example": 0
                    },
                    "weekNumber": {
                        "type": "integer",
                        "description": "The week of the year according to the ISO 8601 standard.",
                        "format": "int32",
                        "example": 0
                    },
                    "quarterNumber": {
                        "type": "integer",
                        "description": "The quarter of the year.",
                        "format": "int32",
                        "example": 0
                    },
                    "ultimo": {
                        "type": "boolean",
                        "description": "True if the Calendar day is the last bankday in the month.",
                        "example": true
                    }
                },
                "additionalProperties": false
            },
            "CrossRate": {
                "required": [
                    "date",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "date": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Exchange rate date in ISO 8601 format (YYYY-MM-DD).",
                        "example": "string"
                    },
                    "value": {
                        "type": "number",
                        "description": "Value of the Cross rate.",
                        "format": "double",
                        "example": 0
                    }
                },
                "additionalProperties": false
            },
            "CrossRateAggregate": {
                "required": [
                    "seqNr",
                    "value",
                    "year"
                ],
                "type": "object",
                "properties": {
                    "year": {
                        "type": "integer",
                        "description": "The year of the aggregate.",
                        "format": "int32",
                        "example": 0
                    },
                    "seqNr": {
                        "type": "integer",
                        "description": "The index of the aggregates placement within the year.",
                        "format": "int32",
                        "example": 0
                    },
                    "value": {
                        "type": "number",
                        "description": "Value of the aggregate.",
                        "format": "double",
                        "example": 0
                    }
                },
                "additionalProperties": false
            },
            "CrossRateAggregation": {
                "enum": [
                    "W",
                    "M",
                    "Q",
                    "Y"
                ],
                "type": "string"
            },
            "GroupHierarchy": {
                "required": [
                    "childGroups",
                    "description",
                    "groupId",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "groupId": {
                        "type": "integer",
                        "description": "The identifier for the Group.",
                        "format": "int32",
                        "example": 0
                    },
                    "name": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Name of the Group.",
                        "example": "string"
                    },
                    "description": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Description of the roup.",
                        "example": "string"
                    },
                    "childGroups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GroupHierarchy"
                        },
                        "description": "Other groups that have the current Group as parent."
                    }
                },
                "additionalProperties": false
            },
            "Language": {
                "enum": [
                    "sv",
                    "en"
                ],
                "type": "string"
            },
            "Observation": {
                "required": [
                    "date",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "date": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The date for the Observation in ISO 8601 format YYYY-MM-DD.",
                        "example": "string"
                    },
                    "value": {
                        "type": "number",
                        "description": "Value of the Observation.",
                        "format": "double",
                        "example": 0
                    }
                },
                "additionalProperties": false
            },
            "ObservationAggregate": {
                "required": [
                    "average",
                    "from",
                    "max",
                    "min",
                    "observationCount",
                    "seqNr",
                    "to",
                    "ultimo",
                    "year"
                ],
                "type": "object",
                "properties": {
                    "year": {
                        "type": "integer",
                        "description": "The year of the aggregate.",
                        "format": "int32",
                        "example": 0
                    },
                    "seqNr": {
                        "type": "integer",
                        "description": "The index of the aggregates placement within the year.",
                        "format": "int32",
                        "example": 0
                    },
                    "from": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The start date of the aggregate.",
                        "example": "string"
                    },
                    "to": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The end date of the aggregate.",
                        "example": "string"
                    },
                    "average": {
                        "type": "number",
                        "description": "The average value for the period, when weekly, monthly, quarterly or annual aggregate is selected.",
                        "format": "double",
                        "example": 0
                    },
                    "min": {
                        "type": "number",
                        "description": "The minimum value for the period, when weekly, monthly, quarterly or annual aggregate method is selected.",
                        "format": "double",
                        "example": 0
                    },
                    "max": {
                        "type": "number",
                        "description": "The maximum value for the period, when weekly, monthly, quarterly or annual aggregate method is selected.",
                        "format": "double",
                        "example": 0
                    },
                    "ultimo": {
                        "type": "number",
                        "description": "The value for the last bank day or the last value in the aggregation period if no observation exist for the last bank day.",
                        "format": "double",
                        "example": 0
                    },
                    "observationCount": {
                        "type": "integer",
                        "description": "Number of observations used as source for given aggregate method.",
                        "format": "int32",
                        "example": 0
                    }
                },
                "additionalProperties": false
            },
            "ObservationAggregateExtended": {
                "required": [
                    "average",
                    "from",
                    "max",
                    "min",
                    "observationCount",
                    "seqNr",
                    "to",
                    "ultimo",
                    "year"
                ],
                "type": "object",
                "properties": {
                    "year": {
                        "type": "integer",
                        "description": "The year of the aggregate.",
                        "format": "int32",
                        "example": 0
                    },
                    "seqNr": {
                        "type": "integer",
                        "description": "The index of the aggregates placement within the year.",
                        "format": "int32",
                        "example": 0
                    },
                    "from": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The start date of the aggregate.",
                        "example": "string"
                    },
                    "to": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The end date of the aggregate.",
                        "example": "string"
                    },
                    "average": {
                        "type": "number",
                        "description": "The average value for the period, when weekly, monthly, quarterly or annual aggregate is selected.",
                        "format": "double",
                        "example": 0
                    },
                    "min": {
                        "type": "number",
                        "description": "The minimum value for the period, when weekly, monthly, quarterly or annual aggregate method is selected.",
                        "format": "double",
                        "example": 0
                    },
                    "max": {
                        "type": "number",
                        "description": "The maximum value for the period, when weekly, monthly, quarterly or annual aggregate method is selected.",
                        "format": "double",
                        "example": 0
                    },
                    "ultimo": {
                        "type": "number",
                        "description": "The value for the last bank day or the last value in the aggregation period if no observation exist for the last bank day.",
                        "format": "double",
                        "example": 0
                    },
                    "observationCount": {
                        "type": "integer",
                        "description": "Number of observations used as source for given aggregate method.",
                        "format": "int32",
                        "example": 0
                    },
                    "seriesId": {
                        "type": "string",
                        "nullable": true,
                        "example": "string"
                    }
                },
                "additionalProperties": false
            },
            "ObservationAggregation": {
                "enum": [
                    "W",
                    "M",
                    "Q",
                    "Y"
                ],
                "type": "string"
            },
            "ObservationExtended": {
                "required": [
                    "date",
                    "seriesId",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "date": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The date for the Observation in ISO 8601 format YYYY-MM-DD.",
                        "example": "string"
                    },
                    "value": {
                        "type": "number",
                        "description": "Value of the Observation.",
                        "format": "double",
                        "example": 0
                    },
                    "seriesId": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Identifier of the Series.",
                        "example": "string"
                    }
                },
                "additionalProperties": false
            },
            "ProblemDetails": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "nullable": true
                    },
                    "title": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "detail": {
                        "type": "string",
                        "nullable": true
                    },
                    "instance": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": {}
            },
            "Series": {
                "required": [
                    "groupId",
                    "longDescription",
                    "midDescription",
                    "observationMaxDate",
                    "observationMinDate",
                    "seriesClosed",
                    "seriesId",
                    "shortDescription",
                    "source"
                ],
                "type": "object",
                "properties": {
                    "seriesId": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Identifier of the Series.",
                        "example": "string"
                    },
                    "source": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The original source for the observations in the Series.",
                        "example": "string"
                    },
                    "shortDescription": {
                        "minLength": 1,
                        "type": "string",
                        "description": "A short description of the Series.",
                        "example": "string"
                    },
                    "midDescription": {
                        "minLength": 1,
                        "type": "string",
                        "description": "A medium-long description of the Series.",
                        "example": "string"
                    },
                    "longDescription": {
                        "minLength": 1,
                        "type": "string",
                        "description": "A long description of the Series.",
                        "example": "string"
                    },
                    "groupId": {
                        "type": "integer",
                        "description": "The group identifier of the Group that the Series belong to.",
                        "format": "int32",
                        "example": 0
                    },
                    "observationMaxDate": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Date for the last Observation in ISO 8601 format YYYY-MM-DD.",
                        "example": "string"
                    },
                    "observationMinDate": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Date for the first observation in ISO 8601 format YYYY-MM-DD.",
                        "example": "string"
                    },
                    "seriesClosed": {
                        "type": "boolean",
                        "description": "Is true if the Series is closed and no more observations is added to the Series.",
                        "example": true
                    }
                },
                "additionalProperties": false
            }
        }
    }
}